.task_section {
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--background-light);
}

.task_section h1 {
    text-align: center;
    margin-bottom: 20px;
}

.task_section .input-area {
    display: block;
    margin-top: 20px;
}

.task_section .input-area label {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.task_section .input-area input,
.task_section .input-area select {
    height: 40px;
    width: 400px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task_section .input-area textarea {
    height: 120px;
    width: 400px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    border-radius: 10px;
}
